<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%=title%></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="shortcut icon" href="css/straw.ico" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script data-main="js/index" src="http://cdn.bootcss.com/require.js/2.1.22/require.min.js"></script>
<script src="http://yzued.111.com.cn/FFF/zepto/v0.2/FFF.fc.template.min.js" type="text/javascript"></script>
</head>
<body>
<header>
	<nav></nav>
</header>
<section class="W_s_input">
		<div class="input-group W_s_txtarea">
			<textarea class="form-control" placeholder="test"></textarea>
		</div>
		<div class="input-group W_s_txtarea">
		<button class="btn btn-success" type="submit">生成字体</button>
		</div>
</section>
<section class="W_s_chose">
	<div class="W_s_upload">
		<div class="uploader green"> 
		<input id='file_upload' type="button" name="file" class="button" value="上传字体">
		<input id='file' type="file"  name="fontfile" size="30">
		</div>
	</div> 
</section>
<div id="webfont"></div>
<footer></footer>
</body>
</html>
