.W_s_input {
	background: #f6f6f6;
	padding: 20px;
}
.W_s_txtarea {
	width: 1000px;
	margin: auto;
}
.W_s_txtarea .form-control {
	width: 100%;
	height: 150px;
	resize: none;
}
.W_s_txtarea .btn {
	margin-top: 15px;
}
.W_s_chose,
.W_s_fontPanel {
	width: 1000px;
	margin: 20px auto;
}
.W_s_panelClose {
	float: right;
	font-size: 20px;
	cursor: pointer;
}
.W_s_font_eg {
	height: 120px;
	overflow: hidden;
}
.W_s_link_download a {
	display: inline-block;
	margin-right: 20px;
}
.W_s_link_download a:hover {
	text-decoration: none;
}
.W_s_fontNamePosts {
	margin: 20px 0;
}
.W_s_fontNamePosts>.label {
	font-size: 20px;
}
.W_s_fontNamePosts>.label>span:last-child {
	cursor: pointer;
}
.W_s_fontNamePosts>.label>span:first-child {
	margin-right: 40px;
}
.label-primary.large {
	margin: 10px;
}
.W_uiloading_closed {
	display: none;
}
.W_s_chose {
	position: relative;
}
.W_s_upload {
	position: absolute;
	right: 0;
	top: 0;
}
.J_hover {
	height: 240px;
}
.W_s_shade {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 300;
	display: none;
}
.W_s_animation {
	animation: loading 1s ease infinite alternate;
}
.W_s_shade .W_s_shadeMsg {
	font-size: 50px;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	color: #eee;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	text-align: center;
}
.W_s_shadeClose {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 30px;
	color: #eee;
	cursor: pointer;
}
.W_s_shadeMsg span {
	vertical-align: middle;
	margin-right: 10px;
}
@keyframes loading {
	0% {
		background: rgba(0, 0, 0, 0.7);
	}
	100% {
		background: rgba(0, 0, 0, 0.5);
	}
}
.uploader {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	cursor: default;
	padding: 0;
	margin: 10px 0px;
	-moz-box-shadow: 0px 0px 5px #ddd;
	-webkit-box-shadow: 0px 0px 5px #ddd;
	box-shadow: 0px 0px 5px #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.filename {
	float: left;
	display: inline-block;
	outline: 0 none;
	height: 32px;
	width: 180px;
	margin: 0;
	padding: 8px 10px;
	overflow: hidden;
	cursor: default;
	border: 1px solid;
	border-right: 0;
	font: 9pt/100% Arial, Helvetica, sans-serif;
	color: #777;
	text-shadow: 1px 1px 0px #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f5f5f5));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f5f5f5', GradientType=0);
	border-color: #ccc;
	-moz-box-shadow: 0px 0px 1px #fff inset;
	-webkit-box-shadow: 0px 0px 1px #fff inset;
	box-shadow: 0px 0px 1px #fff inset;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.button {
	float: left;
	height: 32px;
	display: inline-block;
	outline: 0 none;
	padding: 8px 12px;
	margin: 0;
	cursor: pointer;
	border: 1px solid;
	font: bold 9pt/100% Arial, Helvetica, sans-serif;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	-moz-box-shadow: 0px 0px 1px #fff inset;
	-webkit-box-shadow: 0px 0px 1px #fff inset;
	box-shadow: 0px 0px 1px #fff inset;
}
.uploader input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	margin: 0;
	height: 30px;
	cursor: pointer;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
input[type=button]::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	-moz-box-sizing: content-box;
}
input[type=button]::-webkit-focus-inner {
	padding: 0;
	border: 0 none;
	-webkit-box-sizing: content-box;
}
input[type=text]::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	-moz-box-sizing: content-box;
}
input[type=text]::-webkit-focus-inner {
	padding: 0;
	border: 0 none;
	-webkit-box-sizing: content-box;
}
/* Green Color Scheme ------------------------ */

.green .button {
	color: #fff;
	text-shadow: 1px 1px 0px #6b7735;
	background: #7d8f33;
	background: -moz-linear-gradient(top, #93aa4c 0%, #7d8f33 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93aa4c), color-stop(100%, #7d8f33));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#93aa4c', endColorstr='#7d8f33', GradientType=0);
	border-color: #6b7735;
}
.green:hover .button {
	background: #93aa4c;
	background: -moz-linear-gradient(top, #7d8f33 0%, #93aa4c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d8f33), color-stop(100%, #93aa4c));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7d8f33', endColorstr='#93aa4c', GradientType=0);
}